html {
	/*background: #fff url("../resources/img/fondo.jpg") repeat-x;*/
	font-size: 8px;
	margin: 0;
	padding: 0;
	font-family: Arial, Segoe UI;
	font-size: 11px;
}

img {
	border: none;
}

.ui-layout-unit-content {
	background-color: white;
}

.ui-datatable.borderless thead th,
.ui-datatable.borderless tbody,
.ui-datatable.borderless tbody tr,
.ui-datatable.borderless tbody td {
    border-style: none;
}

/***********************************************************************************************************/
#main {
	width: 95%;
	margin: 0 auto;
	_left: 50%;
	_margin-left: 400px;
	top: 5px;
	min-width: 1024px;
	min-height: 500px;
}

#mainLogin {
	margin-top: 90px;
	width: 600px;
	margin: 0 auto;
	top: 5px;
	min-width: 600px;
}

/***********************************************************************************************************/
#logoApp {
	width: 20%;
	height: 100%;
}

#cabecera-login {
	width: 50%;
	height: 50%;
}

#logoAppLogin {
	background: url('../resources/img/logo.png') no-repeat 50% 0;
	width: 100px;
	height: 100px;
}

#Bimage{
     background:url('../resources/img/index.png') no-repeat 50% 0;
 }


#bloq-sup {
	position: relative;
	margin-top: 30%;
	margin-left: 3px;
	width: 99%;
	float: left;
	height: 22px;
	background-repeat: repeat-x;
	background-image: url("./img/design/f_login.png");
}

#cornerSupLeft,#cornerSupRight {
	float: left;
	width: 11px;
	height: 23px;
	background-repeat: no-repeat;
	background-image: url("./img/design/fil_login_izq.png");
}

#cornerSupRight {
	float: right;
	background-repeat: no-repeat;
	background-image: url("./img/design/fil_login_der.png");
}

#bloq-inf {
	margin-top: 1px;
	margin-left: 3px;
	height: 14px;
	width: 99%;
	float: left;
	position: relative;
	background-repeat: repeat-x;
	background-image: url("./img/design/f_bloq-inf.png");
}

#cornerInfLeft,#cornerInfRight {
	float: left;
	width: 11px;
	height: 14px;
	background-repeat: no-repeat;
	background-image: url("./img/design/esq-inf-izq-Ficha.png");
}

#cornerInfRight {
	float: right;
	width: 11px;
	height: 14px;
	background-repeat: no-repeat;
	background-image: url("./img/design/esq-inf-der-Ficha.png");
}

#panelBase {
	background-color: #DDD;
	margin-left: 72% padding: 1px;
	width: 99%;
	float: left;
	border-radius: 10px;
	border: solid 1px #DDD;
	box-shadow: 2px 2px 5px #888888;
}

#cabecera {
	position: fixed;
	width: 25%;
	margin-left: 72%;
	text-align: right;
	height: 10px;
}

#footer {
	height: 20px;
	/*    border-radius: 10px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;*/
	/*background: rgba(64,146,180,0.9);*/
	margin: 0 auto;
	padding-top: 3px;
	text-align: center;
	text-shadow: rgba(0, 0, 0, 0.3) 1px 1px 1px;
	width: 600px;
	font-weight: bold;
	color: #000;
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
	/*box-shadow: rgba(0,0,0,0.7) 0px 2px 5px;*/
}

.border-contenedor-login {
	padding: 15px;
	width: 99%;
	border-radius: 10px;
	border: solid 1px #DDD;
	box-shadow: 2px 2px 5px #888888;
}

.titulosLeft {
	text-align: left;
	padding: 5px;
	font-weight: bold;
	border-radius: 8px;
	border: 1px solid #d9d9d9;
	font-size: 10px;
	color: #5D5D5D;
	/*background: url("../resources/rime/css-images/table_col_header.gif") repeat-x scroll left center #FFFFFF;*/
	/* background: url("../resources/rime/css-images/ui-bg_gloss.png") repeat-x scroll left center #FFFFFF;*/
	box-shadow: 1px -1px 2px #888888;
	margin: 5px;
}

.adminGrid {
	position: relative;
}

.headerButtons {
	margin-top: 5px;
	height: 30px;
}

.label {
	font-size: 50%;
	text-align: left;
}

/***********************/
.col5 {
	width: 5%;
}

.col10 {
	width: 10%;
}

.col15 {
	width: 15%;
}

.col20 {
	width: 20%;
}

.col25 {
	width: 25%;
}

.col30 {
	width: 30%;
}

.col35 {
	width: 35%;
}

.col40 {
	width: 40%;
}

.col45 {
	width: 45%;
}

.col50 {
	width: 50%;
}

.col55 {
	width: 55%;
}

.col60 {
	width: 60%;
}

.col65 {
	width: 65%;
}

.col70 {
	width: 70%;
}

.col75 {
	width: 75%;
}

.col80 {
	width: 80%;
}

.col90 {
	width: 90%;
}

.col100 {
	width: 100%;
}

.col10_v {
	width: 10%;
	vertical-align: top;
}

.col15_v {
	width: 15%;
	vertical-align: top;
}

.col20_v {
	width: 20%;
	vertical-align: top;
}

.col25_v {
	width: 25%;
	vertical-align: top;
}

.col30_v {
	width: 30%;
	vertical-align: top;
}

.col35_v {
	width: 35%;
	vertical-align: top;
}

.col40_v {
	width: 40%;
	vertical-align: top;
}

.col45_v {
	width: 45%;
	vertical-align: top;
}

.col50_v {
	width: 50%;
	vertical-align: top;
}

.col55_v {
	width: 55%;
	vertical-align: top;
}

.col60_v {
	width: 60%;
	vertical-align: top;
}

.col65_v {
	width: 65%;
	vertical-align: top;
}

.col70_v {
	width: 70%;
	vertical-align: top;
}

.col75_v {
	width: 75%;
	vertical-align: top;
}

.col80_v {
	width: 80%;
	vertical-align: top;
}

.col90_v {
	width: 90%;
	vertical-align: top;
}

.col100_v {
	width: 100%;
	vertical-align: top;
}

.header-separator {
	background: url('../resources/img/design/sep_tbl-DatsEvaluado.gif')
		repeat-x bottom;
	height: 10px;
	width: 100%;
	float: right;
}